<label for="location-search">Search for a new place</label>
<input type="location-search" #search placeholder="Ex: Chicago">
<button (click)="searchHousingLocations(search.value)">Search</button>
<!-- angular feature: template syntax -->
<!-- <article *ngFor="let location of locationList"> -->
<article *ngFor="let location of results">
    <!-- child of p value {{}} is interpolated (inserted into something else) values from the location property -->
    <p>{{location.name}}</p>
    <button (click)="selectHousingLocation(location)">View</button>
</article>