<main>
    <header>
        <img src="../assets/logo.svg" alt="fairhouse">
    </header>
    <section>
        <!-- [attributeName]="Data (PropertyName - in this case array of housing properties)" -->
        <!-- [input - new variable data name]="existing variable name of data being passed in" - pass data from this parent component to child app-housing-list -->
        <app-housing-list [locationList]="housingLocationsList" (selectedLocationEvent)="updateSelectedLocation($event)"></app-housing-list>
        <!-- (attributeName)="" -->
        <!-- (output event name)="expression()/event handler being passed in => in this case, it points to a method in our class" -->
        <!-- click => call method => changes state => re-renders UI -->

        <article>
          <ng-container *ngIf="selectedLocation">
            <img [src]="selectedLocation?.photo">
            <p>{{selectedLocation?.name}}</p>
            <p>{{selectedLocation?.availableUnits}}</p>
            <p>{{selectedLocation?.city}}, {{selectedLocation?.state}}</p>
            <p>{{selectedLocation?.wifi ? "Has wifi" : "Does not have wifi"}}</p>
            <p>{{selectedLocation?.laundry ? "Has laundry" : "Does not have laundry"}}</p>
          </ng-container>
        </article>
    </section>
</main>